@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 400px;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100%;
    background-color: #003366;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.header p {
    font-family: Arial, sans-serif;
    margin-left: 20px;
    color:#f4f4f4;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.Calendar {
    text-align: center;
}

.Calendar>thead>tr {
    height: 40px;
}

.Calendar>thead>tr:first-child>td {
    font-family: 'Questrial', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
}

.Calendar>thead>tr:last-child>td {
    font-family: 'Questrial', sans-serif;
    font-weight: 600;     
}

.Calendar>tbody>tr>td>p {
    font-family: 'Montserrat', sans-serif;
    height: 40px;
    width: 45px;
    border-radius: 45px;
    transition-duration: .2s;
    line-height: 45px;
    margin: 2.5px;
    display: block;
    text-align: center;
}

.noti {
    border-bottom: 1px solid #ccc;
}

.noti td {
    white-space: nowrap;
}

.noti-table {
    font-size: 13px;
    width: 100%;
    border-top: 1px solid #ccc;
}

.noti-table tbody td {
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.noti-type {
    font-size: 12px;
    font-weight: bold;
    width: 30px;
    margin: 0 12px;
    padding: 3px;
    border: 1px solid;
    border-radius: 10px;
    color:azure;
    background-color: #093b8a;
}

.noti-title {
    width: 250px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}
.noti-date {
    width: 80px;
}
